<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permisos de ubicación y Bluetooth -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Declaración del dispositivo como reloj -->
    <uses-feature
        android:name="android.hardware.type.watch"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app"
        android:supportsRtl="true"
        android:theme="@style/Theme.BotonReconocerAudio"
        tools:targetApi="31">
        <activity
            android:name=".MenuConversacionActivity"
            android:exported="false" />
        <activity
            android:name=".AceptarConversacionActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmarBorradoActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConversacionesActivity"
            android:exported="false" />
        <activity
            android:name=".InfoContactoActivity"
            android:exported="false" />
        <activity
            android:name=".BotonExplorarActivity"
            android:exported="false"
            android:taskAffinity="com.testeando.botonreconoceraudio" />
        <activity
            android:name=".BotonAgendaActivity"
            android:exported="false"
            android:taskAffinity="com.testeando.botonreconoceraudio" />
        <activity
            android:name=".BotonEmocionActivity"
            android:exported="false"
            android:taskAffinity="com.testeando.botonreconoceraudio" />
        <activity
            android:name=".IngresarNuevoUsuarioActivity"
            android:exported="false"
            android:taskAffinity="com.testeando.botonreconoceraudio" />
        <activity
            android:name=".AgregarContactoActivity"
            android:exported="false" />
        <activity
            android:name=".ResultadoActivity"
            android:exported="false" />
    </application>

</manifest>